@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: Montserrat;
}

html {
  background: #f0f7f8;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

Link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

main {
  margin: 0 auto;
  ;
  max-width: 64rem;
  min-height: 35rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.headerLink {
  color: white;
}

.logo {
  height: 8rem;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  padding: 1rem 0;
}

.spinner {
  margin-top: 30vh;
  height: 6rem;
  pointer-events: none;
  animation: App-logo-spin infinite 1.5s linear;
}

#productosresultados {
  margin-bottom: 4rem;
}



#productosresultados ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline-start: 0px
}

.unproducto {
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  align-items: center;
  width: 15rem;
  height: 22rem;
  /* Altura fija para todas las tarjetas */
  overflow: hidden;
  /* Para recortar el excedente de la imagen */
  margin: 0.4rem;
  transition: all 0.4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #282c34;
  color: white;
}

.unproducto:hover {
  transform: perspective(1000px) rotateY(-15deg);
}

.unproducto p,
.unproducto h3 {
  margin-bottom: 0;
  max-width: 200px;
  /* Establece el ancho máximo del párrafo */
  white-space: nowrap;
  /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  /* Oculta el texto que excede el ancho máximo */
  text-overflow: ellipsis;
  /* Muestra puntos suspensivos (...) si el texto se corta */
}

.unproducto img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  /* Ajusta la imagen sin deformar su proporción */
  object-position: top;
  /* Alinea la imagen en la parte superior del contenedor */
}

.unproducto button {
  color: white;
  margin-top: 1rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.8rem;
  background-color: rgba(0, 102, 255, 0.7);
  cursor: pointer;
  transition: all 0.3s ease;
}

.unproducto button:hover {
  background-color: rgb(0, 102, 255);
  scale: 1.1;
}

.unproducto button a {
  color: white;
}

.volver-inicio {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}


footer {
  font-size: 80%;
  padding: 2rem 0;
  background: #acb5b8;
}


#filtro,
#buscador,
#selector,
#selector2 {
  padding-block: 0.3rem;
  padding-inline: 0.3rem;
  margin-bottom: 1rem;
}

#buscador,
#selector,
#selector2 {
  cursor: pointer;
}

#selector {
  width: 10.5rem;
}

#selector2 {
  margin-left: 0.5rem;
}

.product-main {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-container {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product-container img {
  max-width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.product-container img:hover {
  transform: perspective(1000px) rotateY(+15deg);
}

.product-info {
  max-width: 20rem;
  text-align: left;
}

.product-main button {
  padding: 0.3rem 0.6rem;
  align-self: center;
  max-width: 5rem;
  cursor: pointer;
}

.notfound {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}